$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

$interest-color: #d32f2f ;

header {
  background: #fff;

  .header-container {
    padding: 5rem 0 17rem 0;
    background: radial-gradient(#0277bd, #01579b);
    border-bottom-left-radius: 120% 100px;
    border-bottom-right-radius: 120% 100px;
  }

  .navbar {
    min-height: 5rem;
    background-color: transparent !important;
    font-size: 1.25rem;

    .navbar-brand {
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }

      span > span {
        display: block;
        margin-left: 3.125rem;
      }
    }

    @media (max-width: $break-sm) {
      min-height: 4rem;
    }

    .navbar-brand img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      padding: 0.1875rem;
      border: 1px solid #01BAEF;
    }
  }

  .navbar.filled {
    background-color: #01579b !important;
  }

  .avatar {
    border-radius: 50%;
    padding: 0.1875rem;
    border: 1px solid #01BAEF;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.9375rem;
  }

  h1, .personal-statement {
    color: #fff;
  }

  h1 {
    font-size: 2.5rem;
  }

  .profiles{
    text-align: center;
    padding: 0 0 0.625rem 0;
  }

  .profiles ul {
    list-style: none;
    float: none;
    margin: auto;
  }

  .profiles ul > li {
    display: inline-block;
    padding: 0.625rem;
    color: #fff;
  }

  .profiles ul > li a {
    color: #C9C9C9;
  }

  .profiles ul > li:before {
    font-family: "Font Awesome 5 Brands";
    margin-right: 0.3125rem;
    color: #fff;
    font-size: 1.6rem;
    vertical-align: middle;
  }

  .profiles .linkedin:before {
    content: "\f08c";
  }

  .profiles .wordpress:before {
    content: "\f19a";
  }

  .profiles .github:before {
    content: "\f09b";
  }

  .profiles .stackoverflow:before {
    content: "\f16c";
  }

  .profiles .twitter:before {
    content: "\f099";
  }

  .profiles .email:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
  }

  .personal-statement {
    font-size: 1.25rem;
    text-align: center;
  }
}

.interests {
  padding: 2.5rem 0 2.5rem 0;

  .interests-container {
    margin-top: -15rem;
    background-color: #fff;
    border-radius: 4px;
    border-top: 4px solid $interest-color;
    padding-bottom: 2rem;
  }

  .head {
    color: $interest-color;
    font-size: 6rem;
    text-align: center;
    margin-top: -4.5rem;

    span:before {
      text-shadow: 0 0 0.3125rem #FFF,
      0 0 0.625rem #FFF,
      0 0 0.9375rem #FFF,
      0 0 1.25rem lighten($interest-color, 20%),
      0 0 1.875rem lighten($interest-color, 20%),
      0 0 2.5rem lighten($interest-color, 20%),
      0 0 3.4375rem lighten($interest-color, 20%),
      0 0 4.6875rem lighten($interest-color, 20%);
      //text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    }
  }

  .highlight-row {
    & > div {
      font-size: 1.25rem;
      color: $interest-color;
      margin-bottom: 2.875rem;
      position: relative;

      .fas, .fab {
        font-size: 2.5rem;
        margin-right: 0.625rem;
        margin-left: 0.46875rem;
        vertical-align: middle;
        position: absolute;
        left: 0;
        top: 0;
      }

      span {
        margin-left: 3.5rem;
        display: block;
      }
    }

    @media (max-width: $break-sm) {
      & > div {
        text-align: center;

        .fas, .fab {
          position: static;
          left: auto;
          top: auto;
          margin-left: 0;
        }

        span {
          margin-left: 0;
          display: inline;
        }
      }
    }
  }

  .badges {
    text-align: center;
    padding-top: 1.5rem;

    .badge {
      font-size: 1.05rem;
      margin-bottom: 0.625rem;
      background-color: $interest-color;
      padding: 0.3125rem;
    }
  }
}

.posts {
  position: relative;
  background-color: #f1f1f1;
  padding: 1.25rem 0 9.375rem 0;
  z-index: 0;

  @media (max-width: $break-md) {
    padding-bottom: 4.375rem;
  }

  .header {
    font-size: 2.5rem;
    margin: 0 0 3rem 0;
  }

  .posts-spinner {
    padding: 10.3rem 0;
  }

  .post {
    word-wrap: break-word;

    @media (max-width: $break-sm) {
      position: relative;
      padding-bottom: 1.25rem;
      margin-bottom: 1.25rem;

      &:after {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 0;
        height: 0.0625rem;
        width: 50%;
        border-bottom: 0.0625rem solid #ccc;
      }

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      &:last-child:after {
        content: "";
        display: none;
      }
    }
  }
}

.repos {
  position: relative;
  background: #20262e;
  z-index: 0;
  color: #fff;
  padding: 0 0 4.375rem 0;

  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: #20262e;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform-origin: top left;
    transform: skewY(-3deg);
  }

  .header {
    text-align: center;
    font-size: 2.5rem;
  }

  .action-bar {
    margin: 3rem 0;

    .form-control {
      background-color: #000;
      border-color: #6c757d;
      color: #fff;
    }

    input:focus {
      box-shadow:0 0 0 .2rem rgba(165, 168, 166, .25);
    }
  }

  .repos-spinner {
    padding: 10.3rem 0;
  }

  .repo {
    text-align: center;
    padding-bottom: 0.9375rem;
    word-wrap: break-word;

    .stargazers-count {
      color: #F44336;
      margin-right: 0.3125rem;
    }

    @media (max-width: $break-sm) {
      position: relative;
      padding-bottom: 1.25rem;
      margin-bottom: 1.25rem;

      &:after {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 0;
        height: 0.0625rem;
        width: 50%;
        border-bottom: 0.0625rem solid #2d333b;
      }

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      &:last-child:after {
        content: "";
        display: none;
      }
    }
  }

  .view-all {
    margin-top: 1.875rem;
  }
}
