body{
	font-family: 'Ubuntu', sans-serif;
	background:#f0f0f0;
	margin:0;
}

.top-bar{
	background:#fff;
	margin-bottom:60px;
	height:50px;
	z-index:10;
}

.top-bar-inner{
	background:#fff;
	-webkit-box-shadow: 0px 8px 13px -7px rgba(186,186,186,1);
	-moz-box-shadow: 0px 8px 13px -7px rgba(186,186,186,1);
	box-shadow: 0px 8px 13px -7px rgba(186,186,186,1);
	width:100%;
}

.top-bar-inner h1{
	margin-top:10px;
}

.toolbar{
	padding:8px;
}

.toolbar .input-group{
	width:50%;
	margin-left:20px;
	float:right;
}

.toolbar .btn-group{
	float:right;
}

.repo-item{
	background:#fff;
	height:160px;
	margin:0 0 20px 20px;
	border:1px solid #ddd;
	border-radius:4px;
	padding:15px;
	padding-top:0;
	overflow:hidden;
}

.repo-item .repo-description{
	height:60px;
	overflow:hidden;
}

.navbar-fixed{
	position:fixed;
	top:0;
	z-index:999;
}

.navbar-toggle{
	border:1px solid #a1a1a1; 
}

.navbar-toggle .icon-bar{
	background:#1a1a1a;
}

.main-avatar{
	position:absolute;
	top:20px;
	left:10px;
	border:1px solid #1a1a1a;
	z-index:999999999;
	padding:0;
}

.anchor{
	display: block;
	height: 50px;
	margin-top: -50px;
	visibility: hidden;
}

.top-username-row{
	background:#1a1a1a;
}

.top-username-row .username{
	color:#fff;
	padding:20px 0 20px 20px;
	vertical-align:bottom;
}

.top-username-row .username h1{
	margin:0;
	line-height:32px;
}

.top-username-row .username span{
	font-size:14px;
}

.hidden-brand{
	display:none;
	margin-top:5px;
}

.hidden-brand div{
	margin-left:50px;
	padding-top:10px;
}

.about-me-section{
	margin:40px 0;
	text-align:center;
}

.about-me-section .about{
	font-size:16px;
}

.about-me-section .find-head{
	font-size:18px;
	margin-top:20px;
}

.about-me-section .profile-links{
	margin:30px 0 20px 0;
}

.about-me-section .profile-links img{
	height:60px;
}

.github-repo-section{
	background:#fff;
}

.github-repo-section > .action-bar{
	margin:15px 0;
}

.github-repo-section .action-bar h2{
	margin:0;
	padding:8px;
}

.repo-grid{
	margin:0;
}

@media (max-width: 768px) {
	.main-avatar{
		display:none;
	}
	
	.hidden-brand{
		display:block;
	}
	
	.about-me-section .profile-links{
		text-align:left;
	}
	
	.about-me-section .profile-links > div{
		margin-bottom:10px;
	}
	
	.about-me-section .profile-links > div:last-child{
		margin-bottom:0;
	}
	
	.repo-item{
		margin-left:0;
	}
}