body{
	font-family: 'Ubuntu', sans-serif;
	background:#f8f8f8;
}

.side-panel{
	min-height:100%;
	position:fixed;
	background:url('http://sammaye.files.wordpress.com/2014/05/cropped-voyager-1-pale-blue-dot-nasa.jpg') no-repeat scroll center center / cover rgba(51, 71, 61, 0.05);
}

.about-tile{
	width:100%;
	position:absolute;
	padding:26px;
	margin:0px auto;
	bottom:0;
}

.about-tile h1{
	color:#fff;
}

.about-tile h3{
	color:#666;
}

.about-tile .user-info{
	margin-left:150px;
}

.top-bar{
	background:#fff;
	margin-bottom:20px;
	-webkit-box-shadow: 0px 8px 13px -7px rgba(186,186,186,1);
	-moz-box-shadow: 0px 8px 13px -7px rgba(186,186,186,1);
	box-shadow: 0px 8px 13px -7px rgba(186,186,186,1);
}

.top-bar h1{
	margin-top:10px;
}

.toolbar{
	padding-top:15px;
}

.toolbar .input-group{
	width:50%;
	margin-left:20px;
	float:right;
}

.toolbar .btn-group{
	float:right;
}

.repo-item{
	background:#fff;
	height:160px;
	margin:0 0 20px 20px;
	border:1px solid #ddd;
	border-radius:4px;
	padding:15px;
	padding-top:0;
}