body {
    font-family: 'Open Sans', sans-serif;
}

.container{
	padding-top:25px;
	padding-bottom:120px;
}

.hidden-print{
  display:none;
}

.link-muted,
.link-muted:hover,
.link-muted:active{
    color:#777;
}

.language,
.tags .label-default{
    font-family:arial;
    border-radius:0;
    display:inline-block;
}

.language,
.tags .label-default{
    margin-bottom:5px;
}

.tags .label-default{
    color:#39739d;
    background:#e1ecf4;
}

.label-forthcoming{
    background:#ccc;
}

.page-header{
    border:0;
    padding-bottom:20px;
    text-align:center;
    position:relative;
}

.page-header:after{
    content:"";
    position: absolute;
    left:45%;
    bottom:0;
    height:5px;
    width:10%;
    border-bottom:5px solid #4FC3F7;
}

.about{
    text-align:center;
}

.about picture img{
    padding:5px;
    border:1px solid #eee;
    border-radius:5px;
}

.profiles{
    text-align:center;
}

.profiles ul{
    list-style:none;
    float:none;
    margin:auto;
}

.profiles ul > li{
    display:inline-block;
    padding:10px;
}

.profiles ul > li:before{
    font-family:'FontAwesome';
    margin-right:5px;
    color:#999;
}

.profiles .linkedin:before{
    content:"\f0e1";
}

.profiles .wordpress:before{
    content:"\f19a";
}

.profiles .github:before{
    content:"\f09b";
}

.profiles .stackoverflow:before{
    content:"\f16c";
}

.profiles .twitter:before{
    content:"\f099";
}

.profiles .website:before{
	content:"\f015";
}

.profiles .email:before{
    content:"\f003";
}

.profiles .phone:before{
    content:"\f10b";
}

.personal-statement{
    text-align:center;
    position:relative;
}

.personal-statement p{
    margin-bottom:20px;
}

.personal-statement div > div{
	margin:auto;
	float:none;
}

.personal-statement:after{
    content:"";
    position: absolute;
    left:45%;
    bottom:0;
    height:5px;
    width:10%;
    border-bottom:5px solid #4FC3F7;
}

.interests{
    text-align:center;
}

.positions .desc ul li{
    margin-bottom:5px;
}

.repositories .repo > div{
    position:relative;
}

.repositories .repo > div:after{
    position:absolute; 
    top:-5px; 
    right:5px; 
    font-size:42px;
    font-family:FontAwesome;
    content:"\f09b";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.repositories .view-all > a{
    font-size:18px;
    display:block;
    text-align:center;
    padding:5px 0;
    margin-top:15px;
}

.writings{
    line-height:1.735;
}

@media (min-width:768px){
	.language,
	.tags .label-default{
		font-size:100%;
	}
	
	.personal-statement{
		font-size:16px;
		line-height:1.8em;
	}
	
	.interests h2{
		font-size:16px;
	}
	
	.educations .desc,
	.positions .desc{
	    line-height:1.735;
	    font-size:15px;
	}
	
    .repo{
        padding-left:16px;
        padding-right:14px;
    }
    
    .project{
        padding-left:16px;
        padding-right:14px;
    }
    
    .article{
        padding-left:16px;
        padding-right:14px;
    }
}

@media (max-width:768px){
	.bordered-box{
		position:relative;
		padding-bottom:20px;
	}
	
	.bordered-box:after{
		content:"";
		position: absolute;
		left:25%;
		bottom:0;
		height:1px;
		width:50%;
		border-bottom:1px solid #eee;
	}
	
	.container{
		padding-bottom:60px;
	}

	.about .alias{
		display:block;
	}
	
	.interests h2{
		font-size:14px;
	}
	
	.repositories .repo h3{
		margin-bottom:0px;
	}
}

@media print{

	body{
		font-size:11px;
		line-height:1.1;
	}
	
	p{
		margin-bottom:5px;
	}

	h1,
	h2,
	h3{
		font-size:130%;
	}
	
	h1 a[href]:after,
	h2 a[href]:after,
	h3 a[href]:after{
		font-size:70%;
		word-break: break-all;
	}
	
	.label-default{
		font-weight:normal;
		font-size:75%;
	}
	
	.bordered-box{
		position:relative;
		padding-bottom:0px;
	}
	
	.bordered-box:after{
		content:"";
		position: static;
		left:0;
		bottom:0;
		height:0px;
		width:0%;
		border-bottom:0;
	}

	.container{
		padding-top:10px;
		padding-bottom:0px;
	}
	
	.about img{
		display:none;
	}
	
	.about .alias{
		display:inline;
	}
	
	.personal-statement:after{
		content:"";
		display:none;
	}
	
	.personal-statement p{
		font-size:13px;
		line-height:1.3em;
		margin-bottom:10px;
	}
	
	.interests h2{
		display:none;
	}
	
	.educations .page-header,
	.projects .page-header,
	.repositories .page-header,
	.writings .page-header{
		margin-bottom:0;
		margin-top:0;
	}
	
	.projects .page-header,
	.repositories .page-header,
	.writings .page-header{
		margin-top:20px;
	}
	
	.educations .education h3,
	.positions .position h3,
	.projects .project h3,
	.repositories .repo h3,
	.writings .article h3{
		margin-bottom:5px;
	}
	
	.projects .project h3 .label-default{
		font-size:50%;
	}
	
	.positions,
	.page-break{
		page-break-after: always;
	}
	
	.repositories .repo > div:after{
		content:"";
		display:none;
	}
	
	.repositories .view-all > a{
		font-size:11px;
	}
	
	.educations .desc,
	.positions .desc{
	    line-height:1.1;
	    font-size:11px;
	}
	
	.project,
    .repo,
    .article{
        padding-left:0px;
        padding-right:0px;
    }
    
    
    /**
     * Specific print style for the grid since Bootstrap
     * does not do this for us... :\
     */
	.col-print-1, .col-sm-1, .col-md-1, .col-lg-1, .col-print-2, .col-sm-2, .col-md-2, .col-lg-2, .col-print-3, .col-sm-3, .col-md-3, .col-lg-3, .col-print-4, .col-sm-4, .col-md-4, .col-lg-4, .col-print-5, .col-sm-5, .col-md-5, .col-lg-5, .col-print-6, .col-sm-6, .col-md-6, .col-lg-6, .col-print-7, .col-sm-7, .col-md-7, .col-lg-7, .col-print-8, .col-sm-8, .col-md-8, .col-lg-8, .col-print-9, .col-sm-9, .col-md-9, .col-lg-9, .col-print-10, .col-sm-10, .col-md-10, .col-lg-10, .col-print-11, .col-sm-11, .col-md-11, .col-lg-11, .col-print-12, .col-sm-12, .col-md-12, .col-lg-12, .col-print-13, .col-sm-13, .col-md-13, .col-lg-13, .col-print-14, .col-sm-14, .col-md-14, .col-lg-14, .col-print-15, .col-sm-15, .col-md-15, .col-lg-15, .col-print-16, .col-sm-16, .col-md-16, .col-lg-16, .col-print-17, .col-sm-17, .col-md-17, .col-lg-17, .col-print-18, .col-sm-18, .col-md-18, .col-lg-18, .col-print-19, .col-sm-19, .col-md-19, .col-lg-19, .col-print-20, .col-sm-20, .col-md-20, .col-lg-20, .col-print-21, .col-sm-21, .col-md-21, .col-lg-21, .col-print-22, .col-sm-22, .col-md-22, .col-lg-22, .col-print-23, .col-sm-23, .col-md-23, .col-lg-23, .col-print-24, .col-sm-24, .col-md-24, .col-lg-24, .col-print-25, .col-sm-25, .col-md-25, .col-lg-25, .col-print-26, .col-sm-26, .col-md-26, .col-lg-26, .col-print-27, .col-sm-27, .col-md-27, .col-lg-27, .col-print-28, .col-sm-28, .col-md-28, .col-lg-28, .col-print-29, .col-sm-29, .col-md-29, .col-lg-29, .col-print-30, .col-sm-30, .col-md-30, .col-lg-30, .col-print-31, .col-sm-31, .col-md-31, .col-lg-31, .col-print-32, .col-sm-32, .col-md-32, .col-lg-32, .col-print-33, .col-sm-33, .col-md-33, .col-lg-33, .col-print-34, .col-sm-34, .col-md-34, .col-lg-34, .col-print-35, .col-sm-35, .col-md-35, .col-lg-35, .col-print-36, .col-sm-36, .col-md-36, .col-lg-36, .col-print-37, .col-sm-37, .col-md-37, .col-lg-37, .col-print-38, .col-sm-38, .col-md-38, .col-lg-38, .col-print-39, .col-sm-39, .col-md-39, .col-lg-39, .col-print-40, .col-sm-40, .col-md-40, .col-lg-40, .col-print-41, .col-sm-41, .col-md-41, .col-lg-41, .col-print-42, .col-sm-42, .col-md-42, .col-lg-42, .col-print-43, .col-sm-43, .col-md-43, .col-lg-43, .col-print-44, .col-sm-44, .col-md-44, .col-lg-44, .col-print-45, .col-sm-45, .col-md-45, .col-lg-45, .col-print-46, .col-sm-46, .col-md-46, .col-lg-46, .col-print-47, .col-sm-47, .col-md-47, .col-lg-47, .col-print-48, .col-sm-48, .col-md-48, .col-lg-48 {
	  position: relative;
	  min-height: 1px;
	  padding-left: 8px;
	  padding-right: 7px;
	}
	.col-print-1, .col-print-2, .col-print-3, .col-print-4, .col-print-5, .col-print-6, .col-print-7, .col-print-8, .col-print-9, .col-print-10, .col-print-11, .col-print-12, .col-print-13, .col-print-14, .col-print-15, .col-print-16, .col-print-17, .col-print-18, .col-print-19, .col-print-20, .col-print-21, .col-print-22, .col-print-23, .col-print-24, .col-print-25, .col-print-26, .col-print-27, .col-print-28, .col-print-29, .col-print-30, .col-print-31, .col-print-32, .col-print-33, .col-print-34, .col-print-35, .col-print-36, .col-print-37, .col-print-38, .col-print-39, .col-print-40, .col-print-41, .col-print-42, .col-print-43, .col-print-44, .col-print-45, .col-print-46, .col-print-47, .col-print-48 {
	  float: left;
	}
	.col-print-48 {
	  width: 100%;
	}
	.col-print-47 {
	  width: 97.91666667%;
	}
	.col-print-46 {
	  width: 95.83333333%;
	}
	.col-print-45 {
	  width: 93.75%;
	}
	.col-print-44 {
	  width: 91.66666667%;
	}
	.col-print-43 {
	  width: 89.58333333%;
	}
	.col-print-42 {
	  width: 87.5%;
	}
	.col-print-41 {
	  width: 85.41666667%;
	}
	.col-print-40 {
	  width: 83.33333333%;
	}
	.col-print-39 {
	  width: 81.25%;
	}
	.col-print-38 {
	  width: 79.16666667%;
	}
	.col-print-37 {
	  width: 77.08333333%;
	}
	.col-print-36 {
	  width: 75%;
	}
	.col-print-35 {
	  width: 72.91666667%;
	}
	.col-print-34 {
	  width: 70.83333333%;
	}
	.col-print-33 {
	  width: 68.75%;
	}
	.col-print-32 {
	  width: 66.66666667%;
	}
	.col-print-31 {
	  width: 64.58333333%;
	}
	.col-print-30 {
	  width: 62.5%;
	}
	.col-print-29 {
	  width: 60.41666667%;
	}
	.col-print-28 {
	  width: 58.33333333%;
	}
	.col-print-27 {
	  width: 56.25%;
	}
	.col-print-26 {
	  width: 54.16666667%;
	}
	.col-print-25 {
	  width: 52.08333333%;
	}
	.col-print-24 {
	  width: 50%;
	}
	.col-print-23 {
	  width: 47.91666667%;
	}
	.col-print-22 {
	  width: 45.83333333%;
	}
	.col-print-21 {
	  width: 43.75%;
	}
	.col-print-20 {
	  width: 41.66666667%;
	}
	.col-print-19 {
	  width: 39.58333333%;
	}
	.col-print-18 {
	  width: 37.5%;
	}
	.col-print-17 {
	  width: 35.41666667%;
	}
	.col-print-16 {
	  width: 33.33333333%;
	}
	.col-print-15 {
	  width: 31.25%;
	}
	.col-print-14 {
	  width: 29.16666667%;
	}
	.col-print-13 {
	  width: 27.08333333%;
	}
	.col-print-12 {
	  width: 25%;
	}
	.col-print-11 {
	  width: 22.91666667%;
	}
	.col-print-10 {
	  width: 20.83333333%;
	}
	.col-print-9 {
	  width: 18.75%;
	}
	.col-print-8 {
	  width: 16.66666667%;
	}
	.col-print-7 {
	  width: 14.58333333%;
	}
	.col-print-6 {
	  width: 12.5%;
	}
	.col-print-5 {
	  width: 10.41666667%;
	}
	.col-print-4 {
	  width: 8.33333333%;
	}
	.col-print-3 {
	  width: 6.25%;
	}
	.col-print-2 {
	  width: 4.16666667%;
	}
	.col-print-1 {
	  width: 2.08333333%;
	}
	.col-print-pull-48 {
	  right: 100%;
	}
	.col-print-pull-47 {
	  right: 97.91666667%;
	}
	.col-print-pull-46 {
	  right: 95.83333333%;
	}
	.col-print-pull-45 {
	  right: 93.75%;
	}
	.col-print-pull-44 {
	  right: 91.66666667%;
	}
	.col-print-pull-43 {
	  right: 89.58333333%;
	}
	.col-print-pull-42 {
	  right: 87.5%;
	}
	.col-print-pull-41 {
	  right: 85.41666667%;
	}
	.col-print-pull-40 {
	  right: 83.33333333%;
	}
	.col-print-pull-39 {
	  right: 81.25%;
	}
	.col-print-pull-38 {
	  right: 79.16666667%;
	}
	.col-print-pull-37 {
	  right: 77.08333333%;
	}
	.col-print-pull-36 {
	  right: 75%;
	}
	.col-print-pull-35 {
	  right: 72.91666667%;
	}
	.col-print-pull-34 {
	  right: 70.83333333%;
	}
	.col-print-pull-33 {
	  right: 68.75%;
	}
	.col-print-pull-32 {
	  right: 66.66666667%;
	}
	.col-print-pull-31 {
	  right: 64.58333333%;
	}
	.col-print-pull-30 {
	  right: 62.5%;
	}
	.col-print-pull-29 {
	  right: 60.41666667%;
	}
	.col-print-pull-28 {
	  right: 58.33333333%;
	}
	.col-print-pull-27 {
	  right: 56.25%;
	}
	.col-print-pull-26 {
	  right: 54.16666667%;
	}
	.col-print-pull-25 {
	  right: 52.08333333%;
	}
	.col-print-pull-24 {
	  right: 50%;
	}
	.col-print-pull-23 {
	  right: 47.91666667%;
	}
	.col-print-pull-22 {
	  right: 45.83333333%;
	}
	.col-print-pull-21 {
	  right: 43.75%;
	}
	.col-print-pull-20 {
	  right: 41.66666667%;
	}
	.col-print-pull-19 {
	  right: 39.58333333%;
	}
	.col-print-pull-18 {
	  right: 37.5%;
	}
	.col-print-pull-17 {
	  right: 35.41666667%;
	}
	.col-print-pull-16 {
	  right: 33.33333333%;
	}
	.col-print-pull-15 {
	  right: 31.25%;
	}
	.col-print-pull-14 {
	  right: 29.16666667%;
	}
	.col-print-pull-13 {
	  right: 27.08333333%;
	}
	.col-print-pull-12 {
	  right: 25%;
	}
	.col-print-pull-11 {
	  right: 22.91666667%;
	}
	.col-print-pull-10 {
	  right: 20.83333333%;
	}
	.col-print-pull-9 {
	  right: 18.75%;
	}
	.col-print-pull-8 {
	  right: 16.66666667%;
	}
	.col-print-pull-7 {
	  right: 14.58333333%;
	}
	.col-print-pull-6 {
	  right: 12.5%;
	}
	.col-print-pull-5 {
	  right: 10.41666667%;
	}
	.col-print-pull-4 {
	  right: 8.33333333%;
	}
	.col-print-pull-3 {
	  right: 6.25%;
	}
	.col-print-pull-2 {
	  right: 4.16666667%;
	}
	.col-print-pull-1 {
	  right: 2.08333333%;
	}
	.col-print-pull-0 {
	  right: auto;
	}
	.col-print-push-48 {
	  left: 100%;
	}
	.col-print-push-47 {
	  left: 97.91666667%;
	}
	.col-print-push-46 {
	  left: 95.83333333%;
	}
	.col-print-push-45 {
	  left: 93.75%;
	}
	.col-print-push-44 {
	  left: 91.66666667%;
	}
	.col-print-push-43 {
	  left: 89.58333333%;
	}
	.col-print-push-42 {
	  left: 87.5%;
	}
	.col-print-push-41 {
	  left: 85.41666667%;
	}
	.col-print-push-40 {
	  left: 83.33333333%;
	}
	.col-print-push-39 {
	  left: 81.25%;
	}
	.col-print-push-38 {
	  left: 79.16666667%;
	}
	.col-print-push-37 {
	  left: 77.08333333%;
	}
	.col-print-push-36 {
	  left: 75%;
	}
	.col-print-push-35 {
	  left: 72.91666667%;
	}
	.col-print-push-34 {
	  left: 70.83333333%;
	}
	.col-print-push-33 {
	  left: 68.75%;
	}
	.col-print-push-32 {
	  left: 66.66666667%;
	}
	.col-print-push-31 {
	  left: 64.58333333%;
	}
	.col-print-push-30 {
	  left: 62.5%;
	}
	.col-print-push-29 {
	  left: 60.41666667%;
	}
	.col-print-push-28 {
	  left: 58.33333333%;
	}
	.col-print-push-27 {
	  left: 56.25%;
	}
	.col-print-push-26 {
	  left: 54.16666667%;
	}
	.col-print-push-25 {
	  left: 52.08333333%;
	}
	.col-print-push-24 {
	  left: 50%;
	}
	.col-print-push-23 {
	  left: 47.91666667%;
	}
	.col-print-push-22 {
	  left: 45.83333333%;
	}
	.col-print-push-21 {
	  left: 43.75%;
	}
	.col-print-push-20 {
	  left: 41.66666667%;
	}
	.col-print-push-19 {
	  left: 39.58333333%;
	}
	.col-print-push-18 {
	  left: 37.5%;
	}
	.col-print-push-17 {
	  left: 35.41666667%;
	}
	.col-print-push-16 {
	  left: 33.33333333%;
	}
	.col-print-push-15 {
	  left: 31.25%;
	}
	.col-print-push-14 {
	  left: 29.16666667%;
	}
	.col-print-push-13 {
	  left: 27.08333333%;
	}
	.col-print-push-12 {
	  left: 25%;
	}
	.col-print-push-11 {
	  left: 22.91666667%;
	}
	.col-print-push-10 {
	  left: 20.83333333%;
	}
	.col-print-push-9 {
	  left: 18.75%;
	}
	.col-print-push-8 {
	  left: 16.66666667%;
	}
	.col-print-push-7 {
	  left: 14.58333333%;
	}
	.col-print-push-6 {
	  left: 12.5%;
	}
	.col-print-push-5 {
	  left: 10.41666667%;
	}
	.col-print-push-4 {
	  left: 8.33333333%;
	}
	.col-print-push-3 {
	  left: 6.25%;
	}
	.col-print-push-2 {
	  left: 4.16666667%;
	}
	.col-print-push-1 {
	  left: 2.08333333%;
	}
	.col-print-push-0 {
	  left: auto;
	}
	.col-print-offset-48 {
	  margin-left: 100%;
	}
	.col-print-offset-47 {
	  margin-left: 97.91666667%;
	}
	.col-print-offset-46 {
	  margin-left: 95.83333333%;
	}
	.col-print-offset-45 {
	  margin-left: 93.75%;
	}
	.col-print-offset-44 {
	  margin-left: 91.66666667%;
	}
	.col-print-offset-43 {
	  margin-left: 89.58333333%;
	}
	.col-print-offset-42 {
	  margin-left: 87.5%;
	}
	.col-print-offset-41 {
	  margin-left: 85.41666667%;
	}
	.col-print-offset-40 {
	  margin-left: 83.33333333%;
	}
	.col-print-offset-39 {
	  margin-left: 81.25%;
	}
	.col-print-offset-38 {
	  margin-left: 79.16666667%;
	}
	.col-print-offset-37 {
	  margin-left: 77.08333333%;
	}
	.col-print-offset-36 {
	  margin-left: 75%;
	}
	.col-print-offset-35 {
	  margin-left: 72.91666667%;
	}
	.col-print-offset-34 {
	  margin-left: 70.83333333%;
	}
	.col-print-offset-33 {
	  margin-left: 68.75%;
	}
	.col-print-offset-32 {
	  margin-left: 66.66666667%;
	}
	.col-print-offset-31 {
	  margin-left: 64.58333333%;
	}
	.col-print-offset-30 {
	  margin-left: 62.5%;
	}
	.col-print-offset-29 {
	  margin-left: 60.41666667%;
	}
	.col-print-offset-28 {
	  margin-left: 58.33333333%;
	}
	.col-print-offset-27 {
	  margin-left: 56.25%;
	}
	.col-print-offset-26 {
	  margin-left: 54.16666667%;
	}
	.col-print-offset-25 {
	  margin-left: 52.08333333%;
	}
	.col-print-offset-24 {
	  margin-left: 50%;
	}
	.col-print-offset-23 {
	  margin-left: 47.91666667%;
	}
	.col-print-offset-22 {
	  margin-left: 45.83333333%;
	}
	.col-print-offset-21 {
	  margin-left: 43.75%;
	}
	.col-print-offset-20 {
	  margin-left: 41.66666667%;
	}
	.col-print-offset-19 {
	  margin-left: 39.58333333%;
	}
	.col-print-offset-18 {
	  margin-left: 37.5%;
	}
	.col-print-offset-17 {
	  margin-left: 35.41666667%;
	}
	.col-print-offset-16 {
	  margin-left: 33.33333333%;
	}
	.col-print-offset-15 {
	  margin-left: 31.25%;
	}
	.col-print-offset-14 {
	  margin-left: 29.16666667%;
	}
	.col-print-offset-13 {
	  margin-left: 27.08333333%;
	}
	.col-print-offset-12 {
	  margin-left: 25%;
	}
	.col-print-offset-11 {
	  margin-left: 22.91666667%;
	}
	.col-print-offset-10 {
	  margin-left: 20.83333333%;
	}
	.col-print-offset-9 {
	  margin-left: 18.75%;
	}
	.col-print-offset-8 {
	  margin-left: 16.66666667%;
	}
	.col-print-offset-7 {
	  margin-left: 14.58333333%;
	}
	.col-print-offset-6 {
	  margin-left: 12.5%;
	}
	.col-print-offset-5 {
	  margin-left: 10.41666667%;
	}
	.col-print-offset-4 {
	  margin-left: 8.33333333%;
	}
	.col-print-offset-3 {
	  margin-left: 6.25%;
	}
	.col-print-offset-2 {
	  margin-left: 4.16666667%;
	}
	.col-print-offset-1 {
	  margin-left: 2.08333333%;
	}
	.col-print-offset-0 {
	  margin-left: 0%;
	}
}